<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleConstraintsProv -->
      <package
            uri="http://simpleconstraintsprov"
            class="simpleconstraintsprov.SimpleconstraintsprovPackage"
            genModel="models/SimpleConstraintsProv.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleConstraintsReq -->
      <package
            uri="http://simpleconstraintsReq"
            class="simpleconstraintsReq.SimpleconstraintslanguageReqPackage"
            genModel="models/SimpleConstraintsReq.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleConstraints -->
      <package
            uri="simpleconstraints"
            class="simpleconstraints.SimpleconstraintsPackage"
            genModel="models/SimpleConstraints.genmodel"/>
   </extension>

</plugin>
