<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Components -->
      <package
            uri="http://fr.inria.diverse.puzzle.uml.classes.metamodel/Components"
            class="Components.ComponentsPackage"
            genModel="models/Components.genmodel"/>
   </extension>

</plugin>
