<?xml version="1.0" encoding="ASCII"?>
<vm:LanguageProductLine xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:vm="http://fr.inria.diverse.puzzle.vm.metamodel">
  <functionalVariability name="FeatureModel">
    <rootFeature name="Root" mandatory="true">
      <children name="StateMachineModule" parentGroup="//@functionalVariability/@rootFeature/@groups.0" semanticVariationPoint="//@semanticalVariability/@semanticVariationPoints.0">
        <children name="AndTriggerModule" parentGroup="//@functionalVariability/@rootFeature/@children.0/@groups.0">
          <implementationModule href="1-LanguagesArchitectureModel.puzzleadl#//@languageModules.1"/>
        </children>
        <children name="ChoiceModule" parentGroup="//@functionalVariability/@rootFeature/@children.0/@groups.1">
          <implementationModule href="1-LanguagesArchitectureModel.puzzleadl#//@languageModules.2"/>
        </children>
        <children name="ConditionalModule" parentGroup="//@functionalVariability/@rootFeature/@children.0/@groups.2">
          <implementationModule href="1-LanguagesArchitectureModel.puzzleadl#//@languageModules.3"/>
        </children>
        <children name="NotTriggerModule" parentGroup="//@functionalVariability/@rootFeature/@children.0/@groups.3">
          <implementationModule href="1-LanguagesArchitectureModel.puzzleadl#//@languageModules.4"/>
        </children>
        <groups features="//@functionalVariability/@rootFeature/@children.0/@children.0">
          <cardinality upperBound="1"/>
        </groups>
        <groups features="//@functionalVariability/@rootFeature/@children.0/@children.1">
          <cardinality upperBound="1"/>
        </groups>
        <groups features="//@functionalVariability/@rootFeature/@children.0/@children.2">
          <cardinality upperBound="1"/>
        </groups>
        <groups features="//@functionalVariability/@rootFeature/@children.0/@children.3">
          <cardinality upperBound="1"/>
        </groups>
        <implementationModule href="1-LanguagesArchitectureModel.puzzleadl#//@languageModules.0"/>
      </children>
      <groups features="//@functionalVariability/@rootFeature/@children.0">
        <cardinality upperBound="1"/>
      </groups>
    </rootFeature>
  </functionalVariability>
  <semanticalVariability>
    <semanticVariationPoints feature="//@functionalVariability/@rootFeature/@children.0">
      <interpretations name="UML">
        <implementation href="1-LanguagesArchitectureModel.puzzleadl#//@languageModules.0/@semanticsImplementation.0"/>
      </interpretations>
      <interpretations name="Rhapsody">
        <implementation href="1-LanguagesArchitectureModel.puzzleadl#//@languageModules.0/@semanticsImplementation.1"/>
      </interpretations>
      <interpretations name="Harel">
        <implementation href="1-LanguagesArchitectureModel.puzzleadl#//@languageModules.0/@semanticsImplementation.2"/>
      </interpretations>
    </semanticVariationPoints>
  </semanticalVariability>
</vm:LanguageProductLine>
