<?xml version="1.0" encoding="ASCII"?>
<vm:LanguageProductLine xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:vm="http://fr.inria.diverse.puzzle.vm.metamodel">
  <functionalVariability name="FeatureModel">
    <rootFeature name="Root" mandatory="true">
      <children name="StateMachineModule" mandatory="true" parentGroup="//@functionalVariability/@rootFeature/@groups.0">
        <children name="AndTriggerModule" parentGroup="//@functionalVariability/@rootFeature/@children.0/@groups.0"/>
        <children name="ChoiceModule" parentGroup="//@functionalVariability/@rootFeature/@children.0/@groups.0"/>
        <children name="ConditionalModule" parentGroup="//@functionalVariability/@rootFeature/@children.0/@groups.0"/>
        <children name="NotTriggerModule" parentGroup="//@functionalVariability/@rootFeature/@children.0/@groups.0"/>
        <groups features="//@functionalVariability/@rootFeature/@children.0/@children.0 //@functionalVariability/@rootFeature/@children.0/@children.1 //@functionalVariability/@rootFeature/@children.0/@children.2 //@functionalVariability/@rootFeature/@children.0/@children.3">
          <cardinality lowerBound="1" upperBound="3"/>
        </groups>
      </children>
      <groups features="//@functionalVariability/@rootFeature/@children.0">
        <cardinality lowerBound="1" upperBound="1"/>
      </groups>
    </rootFeature>
    <constraints name="ChoiceModule implies AndTriggerModule">
      <expression xsi:type="vm:BinaryExpression" operator="implies">
        <left xsi:type="vm:LanguageFeatureRef" ref="//@functionalVariability/@rootFeature/@children.0/@children.1"/>
        <right xsi:type="vm:LanguageFeatureRef" ref="//@functionalVariability/@rootFeature/@children.0/@children.0"/>
      </expression>
    </constraints>
    <constraints name="NotTriggerModule implies AndTriggerModule">
      <expression xsi:type="vm:BinaryExpression" operator="implies">
        <left xsi:type="vm:LanguageFeatureRef" ref="//@functionalVariability/@rootFeature/@children.0/@children.3"/>
        <right xsi:type="vm:LanguageFeatureRef" ref="//@functionalVariability/@rootFeature/@children.0/@children.0"/>
      </expression>
    </constraints>
    <constraints name="NotTriggerModule implies ConditionalModule">
      <expression xsi:type="vm:BinaryExpression" operator="implies">
        <left xsi:type="vm:LanguageFeatureRef" ref="//@functionalVariability/@rootFeature/@children.0/@children.3"/>
        <right xsi:type="vm:LanguageFeatureRef" ref="//@functionalVariability/@rootFeature/@children.0/@children.2"/>
      </expression>
    </constraints>
  </functionalVariability>
</vm:LanguageProductLine>
