<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Deployments -->
      <package
            uri="http://fr.inria.diverse.puzzle.uml/Deployments/Artifacts"
            class="Deployments.Artifacts.ArtifactsPackage"
            genModel="models/Deployments.genmodel"/>
   </extension>

</plugin>
