<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  
<extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="family.ClassesProvided" uri="http://classesprovided/"/>
    <modeltype id="family.ClassesRequired" uri="http://classesrequired/"/>
    <modeltype id="family.ComponentsProvided" uri="http://componentsprovided/"/>
    <modeltype id="family.ComponentsRequired" uri="http://componentsrequired/"/>
    <modeltype id="family.CompositeStructuresProvided" uri="http://compositestructuresprovided/"/>
    <modeltype id="family.CompositeStructuresRequired" uri="http://compositestructuresrequired/">
      <subtyping modeltypeId="family.ClassesRequired"/>
    </modeltype>
    <modeltype id="family.ClassesMT" uri="http://classesmt/">
      <subtyping modeltypeId="family.ClassesRequired"/>
    </modeltype>
    <modeltype id="family.ComponentsMT" uri="http://componentsmt/">
      <subtyping modeltypeId="family.ComponentsProvided"/>
      <subtyping modeltypeId="family.ComponentsRequired"/>
    </modeltype>
    <modeltype id="family.CompositeStructuresMT" uri="http://compositestructuresmt/">
      <subtyping modeltypeId="family.ClassesRequired"/>
      <subtyping modeltypeId="family.CompositeStructuresProvided"/>
      <subtyping modeltypeId="family.CompositeStructuresRequired"/>
    </modeltype>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" description="A language unit with classes and references." entryPoints="" exactType="family.ClassesMT" id="family.Classes" uri="http://fr.inria.diverse.puzzle.uml.classes.metamodel/Classes">
      <adapter class="family.classes.adapters.classesprovided.ClassesAdapter" modeltypeId="family.ClassesProvided"/>
      <adapter class="family.classes.adapters.classesrequired.ClassesAdapter" modeltypeId="family.ClassesRequired"/>
    </language>
    <language aspects="" description="A language unit with classes and references." entryPoints="" exactType="family.ComponentsMT" id="family.Components" uri="http://fr.inria.diverse.puzzle.uml.classes.metamodel/Components">
      <adapter class="family.components.adapters.componentsprovided.ComponentsAdapter" modeltypeId="family.ComponentsProvided"/>
      <adapter class="family.components.adapters.componentsrequired.ComponentsAdapter" modeltypeId="family.ComponentsRequired"/>
      <adapter class="family.components.adapters.componentsmt.ComponentsAdapter" modeltypeId="family.ComponentsMT"/>
    </language>
    <language aspects="" entryPoints="" exactType="family.CompositeStructuresMT" id="family.CompositeStructures" uri="http://fr.inria.diverse.puzzle.uml.classes.metamodel/CompositeStructures">
      <adapter class="family.compositestructures.adapters.compositestructuresprovided.CompositeStructuresAdapter" modeltypeId="family.CompositeStructuresProvided"/>
      <adapter class="family.compositestructures.adapters.classesrequired.CompositeStructuresAdapter" modeltypeId="family.ClassesRequired"/>
      <adapter class="family.compositestructures.adapters.compositestructuresrequired.CompositeStructuresAdapter" modeltypeId="family.CompositeStructuresRequired"/>
      <adapter class="family.compositestructures.adapters.compositestructuresmt.CompositeStructuresAdapter" modeltypeId="family.CompositeStructuresMT"/>
    </language>
  </extension>
</plugin>
