/.AssignationAspect.java._trace
/.ConditionalAspect.java._trace
/.ExpressionAspect.java._trace
/.LoopAspect.java._trace
/.PrintAspect.java._trace
/.PrintlnAspect.java._trace
/.ProgramAspect.java._trace
/.StatementAspect.java._trace
/.VarDeclAspect.java._trace
/.VarRefAspect.java._trace
/.WaitAspect.java._trace
