<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated StateMachines -->
      <package
            uri="http://fr.inria.diverse.puzzle.uml/StateMachines/BehaviorStateMachines"
            class="StateMachines.BehaviorStateMachines.BehaviorStateMachinesPackage"
            genModel="models/StateMachines.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated StateMachines -->
      <package
            uri="http://fr.inria.diverse.puzzle.uml/StateMachines/ProtocolStateMachines"
            class="StateMachines.ProtocolStateMachines.ProtocolStateMachinesPackage"
            genModel="models/StateMachines.genmodel"/>
   </extension>

</plugin>
