<?xml version="1.0" encoding="ASCII"?>
<vm:PFeatureModel xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:vm="http://fr.inria.diverse.puzzle.vm.metamodel">
  <rootFeature name="root" mandatory="true">
    <children name="StateMachine"/>
    <children name="Constraint">
      <children name="Expression"/>
      <groups features="//@rootFeature/@children.1/@children.0" kind="optional"/>
    </children>
    <children name="LogoProgram"/>
    <children name="Flowchart"/>
    <groups features="//@rootFeature/@children.0 //@rootFeature/@children.1 //@rootFeature/@children.2 //@rootFeature/@children.3"/>
  </rootFeature>
  <constraints name="StateMachine => Constraint">
    <expression xsi:type="vm:PBinaryExpression" operator="implies">
      <left xsi:type="vm:PFeatureRef" ref="//@rootFeature/@children.0"/>
      <right xsi:type="vm:PFeatureRef" ref="//@rootFeature/@children.1"/>
    </expression>
  </constraints>
  <constraints name="StateMachine => Expression">
    <expression xsi:type="vm:PBinaryExpression" operator="implies">
      <left xsi:type="vm:PFeatureRef" ref="//@rootFeature/@children.0"/>
      <right xsi:type="vm:PFeatureRef" ref="//@rootFeature/@children.1/@children.0"/>
    </expression>
  </constraints>
  <constraints name="Constraint => Expression">
    <expression xsi:type="vm:PBinaryExpression" operator="implies">
      <left xsi:type="vm:PFeatureRef" ref="//@rootFeature/@children.1"/>
      <right xsi:type="vm:PFeatureRef" ref="//@rootFeature/@children.1/@children.0"/>
    </expression>
  </constraints>
  <constraints name="LogoProgram => Expression">
    <expression xsi:type="vm:PBinaryExpression" operator="implies">
      <left xsi:type="vm:PFeatureRef" ref="//@rootFeature/@children.2"/>
      <right xsi:type="vm:PFeatureRef" ref="//@rootFeature/@children.1/@children.0"/>
    </expression>
  </constraints>
  <constraints name="Flowchart => Constraint">
    <expression xsi:type="vm:PBinaryExpression" operator="implies">
      <left xsi:type="vm:PFeatureRef" ref="//@rootFeature/@children.3"/>
      <right xsi:type="vm:PFeatureRef" ref="//@rootFeature/@children.1"/>
    </expression>
  </constraints>
</vm:PFeatureModel>
