<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CompositeStructures -->
      <package
            uri="http://fr.inria.diverse.puzzle.uml.classes.metamodel/CompositeStructures"
            class="CompositeStructures.CompositeStructuresPackage"
            genModel="models/CompositeStructures.genmodel"/>
   </extension>

</plugin>
