<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Primitives -->
      <package
            uri="http://fr.inria.diverse.examples.logo.primitives"
            class="Primitives.LogoPackage"
            genModel="models/Primitives.genmodel"/>
   </extension>

</plugin>
