<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PuzzleADL -->
      <package
            uri="http://fr.inria.diverse.puzzle.adl.metamodel"
            class="PuzzleADL.PuzzleADLPackage"
            genModel="models/PuzzleADL.genmodel"/>
   </extension>

</plugin>
