<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simpleimperative -->
      <package
            uri="simpleimperative"
            class="simpleimperative.SimpleimperativePackage"
            genModel="models/simpleimperative.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simpleimperativeProv -->
      <package
            uri="simpleimperativeProv"
            class="simpleimperativeProv.SimpleimperativeProvPackage"
            genModel="models/simpleimperativeProv.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simpleimperativeReq -->
      <package
            uri="simpleimperativeReq"
            class="simpleimperativeReq.SimpleimperativeReqPackage"
            genModel="models/simpleimperativeReq.genmodel"/>
   </extension>

</plugin>
