<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  
<extension point="fr.inria.diverse.melange.modeltype">
    <modeltype description="Required interface for the primitives language unit" id="family.RequiredPrimitives" uri="http://requiredprimitives/">
      <subtyping modeltypeId="family.RequiredBinaryExpressions"/>
    </modeltype>
    <modeltype description="Required interface for the primitives language unit" id="family.ProvidedPrimitives" uri="http://providedprimitives/"/>
    <modeltype description="Provided interface for the Literals language unit" id="family.ProvidedLiterals" uri="http://providedliterals/">
      <subtyping modeltypeId="family.RequiredPrimitives"/>
      <subtyping modeltypeId="family.RequiredBinaryExpressions"/>
    </modeltype>
    <modeltype description="Required interface for the BinaryExpressions language unit" id="family.RequiredBinaryExpressions" uri="http://requiredbinaryexpressions/">
      <subtyping modeltypeId="family.RequiredPrimitives"/>
    </modeltype>
    <modeltype description="Required interface for the Variables language unit" id="family.RequiredVariables" uri="http://requiredvariables/"/>
    <modeltype description="Required interface for the ControlStructures language unit" id="family.RequiredControlStructures" uri="http://requiredcontrolstructures/">
      <subtyping modeltypeId="family.RequiredPrimitives"/>
      <subtyping modeltypeId="family.RequiredBinaryExpressions"/>
      <subtyping modeltypeId="family.RequiredVariables"/>
    </modeltype>
    <modeltype description="Provided interface for the ControlStructures language unit" id="family.ProvidedControlStructures" uri="http://providedcontrolstructures/"/>
    <modeltype description="Required interface for the Procedures language unit" id="family.RequiredProcedures" uri="http://requiredprocedures/">
      <subtyping modeltypeId="family.RequiredPrimitives"/>
      <subtyping modeltypeId="family.RequiredBinaryExpressions"/>
      <subtyping modeltypeId="family.RequiredVariables"/>
    </modeltype>
    <modeltype id="family.PrimitivesMT" uri="http://primitivesmt/">
      <subtyping modeltypeId="family.RequiredPrimitives"/>
      <subtyping modeltypeId="family.ProvidedPrimitives"/>
      <subtyping modeltypeId="family.RequiredBinaryExpressions"/>
      <subtyping modeltypeId="family.RequiredVariables"/>
    </modeltype>
    <modeltype id="family.LiteralsMT" uri="http://literalsmt/"/>
    <modeltype id="family.BinaryExpressionsMT" uri="http://binaryexpressionsmt/">
      <subtyping modeltypeId="family.RequiredPrimitives"/>
      <subtyping modeltypeId="family.RequiredBinaryExpressions"/>
    </modeltype>
    <modeltype id="family.VariablesMT" uri="http://variablesmt/">
      <subtyping modeltypeId="family.RequiredPrimitives"/>
      <subtyping modeltypeId="family.RequiredBinaryExpressions"/>
      <subtyping modeltypeId="family.RequiredVariables"/>
    </modeltype>
    <modeltype id="family.ControlStructuresMT" uri="http://controlstructuresmt/">
      <subtyping modeltypeId="family.RequiredPrimitives"/>
      <subtyping modeltypeId="family.RequiredBinaryExpressions"/>
      <subtyping modeltypeId="family.RequiredVariables"/>
      <subtyping modeltypeId="family.RequiredControlStructures"/>
    </modeltype>
    <modeltype id="family.ProceduresMT" uri="http://proceduresmt/">
      <subtyping modeltypeId="family.RequiredPrimitives"/>
      <subtyping modeltypeId="family.RequiredBinaryExpressions"/>
      <subtyping modeltypeId="family.RequiredVariables"/>
      <subtyping modeltypeId="family.RequiredProcedures"/>
    </modeltype>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="Primitive:semanticsLogoPrimitives.PrimitiveAspect;Left:semanticsLogoPrimitives.LeftAspect;Back:semanticsLogoPrimitives.BackAspect;Right:semanticsLogoPrimitives.RightAspect;Forward:semanticsLogoPrimitives.ForwardAspect;Instruction:semanticsLogoPrimitives.InstructionAspect" description="A language unit for containing the basic primitives of Logo" entryPoints="" exactType="family.PrimitivesMT" id="family.Primitives" uri="http://fr.inria.diverse.examples.logo.primitives">
      <adapter class="family.primitives.adapters.providedprimitives.PrimitivesAdapter" modeltypeId="family.ProvidedPrimitives"/>
      <adapter class="family.primitives.adapters.requiredprimitives.PrimitivesAdapter" modeltypeId="family.RequiredPrimitives"/>
      <adapter class="family.primitives.adapters.requiredbinaryexpressions.PrimitivesAdapter" modeltypeId="family.RequiredBinaryExpressions"/>
      <adapter class="family.primitives.adapters.requiredvariables.PrimitivesAdapter" modeltypeId="family.RequiredVariables"/>
      <adapter class="family.primitives.adapters.primitivesmt.PrimitivesAdapter" modeltypeId="family.PrimitivesMT"/>
    </language>
    <language aspects="Integer:semanticsLiteralsLogo.IntegerAspect;Expression:semanticsLiteralsLogo.ExpressionAspect;Literal:semanticsLiteralsLogo.LiteralAspect;String:semanticsLiteralsLogo.StringAspect;Boolean:semanticsLiteralsLogo.BooleanAspect" description="A language unit for containing basic literals" entryPoints="" exactType="family.LiteralsMT" id="family.Literals" uri="http://fr.inria.diverse.examples.logo.literals">
      <adapter class="family.literals.adapters.providedliterals.LiteralsAdapter" modeltypeId="family.ProvidedLiterals"/>
      <adapter class="family.literals.adapters.literalsmt.LiteralsAdapter" modeltypeId="family.LiteralsMT"/>
    </language>
    <language aspects="ArithmeticExpr:semanticsLogoBinaryExpressions.ArithmeticExprAspect;BinaryExpr:semanticsLogoBinaryExpressions.BinaryExprAspect;BooleanExpr:semanticsLogoBinaryExpressions.BooleanExprAspect" description="A language unit containing basic binary expressions" entryPoints="" exactType="family.BinaryExpressionsMT" id="family.BinaryExpressions" uri="http://fr.inria.diverse.examples.logo.BinaryExpressions">
      <adapter class="family.binaryexpressions.adapters.requiredprimitives.BinaryExpressionsAdapter" modeltypeId="family.RequiredPrimitives"/>
      <adapter class="family.binaryexpressions.adapters.requiredbinaryexpressions.BinaryExpressionsAdapter" modeltypeId="family.RequiredBinaryExpressions"/>
      <adapter class="family.binaryexpressions.adapters.binaryexpressionsmt.BinaryExpressionsAdapter" modeltypeId="family.BinaryExpressionsMT"/>
    </language>
    <language aspects="VarReference:semanticsLogoVariables.VarReferenceAspect;VarDecl:semanticsLogoVariables.VarDeclAspect;Assignation:semanticsLogoVariables.AssignationAspect" description="A language unit containing basic variables management" entryPoints="" exactType="family.VariablesMT" id="family.Variables" uri="http://fr.inria.diverse.examples.logo.variables">
      <adapter class="family.variables.adapters.requiredprimitives.VariablesAdapter" modeltypeId="family.RequiredPrimitives"/>
      <adapter class="family.variables.adapters.requiredbinaryexpressions.VariablesAdapter" modeltypeId="family.RequiredBinaryExpressions"/>
      <adapter class="family.variables.adapters.requiredvariables.VariablesAdapter" modeltypeId="family.RequiredVariables"/>
      <adapter class="family.variables.adapters.variablesmt.VariablesAdapter" modeltypeId="family.VariablesMT"/>
    </language>
    <language aspects="Block:semanticsLogoControlStructures.BlockAspect;While:semanticsLogoControlStructures.WhileAspect;ControlStructure:semanticsLogoControlStructures.ControlStructureAspect;If:semanticsLogoControlStructures.IfAspect" description="A language unit containing basic variables management" entryPoints="" exactType="family.ControlStructuresMT" id="family.ControlStructures" uri="http://fr.inria.diverse.examples.logo.ControlStructures">
      <adapter class="family.controlstructures.adapters.providedcontrolstructures.ControlStructuresAdapter" modeltypeId="family.ProvidedControlStructures"/>
      <adapter class="family.controlstructures.adapters.requiredprimitives.ControlStructuresAdapter" modeltypeId="family.RequiredPrimitives"/>
      <adapter class="family.controlstructures.adapters.requiredbinaryexpressions.ControlStructuresAdapter" modeltypeId="family.RequiredBinaryExpressions"/>
      <adapter class="family.controlstructures.adapters.requiredvariables.ControlStructuresAdapter" modeltypeId="family.RequiredVariables"/>
      <adapter class="family.controlstructures.adapters.requiredcontrolstructures.ControlStructuresAdapter" modeltypeId="family.RequiredControlStructures"/>
      <adapter class="family.controlstructures.adapters.controlstructuresmt.ControlStructuresAdapter" modeltypeId="family.ControlStructuresMT"/>
    </language>
    <language aspects="ProcedureCall:semanticsLogoProcedures.ProcedureCallAspect;Procedure:semanticsLogoProcedures.ProcedureAspect" description="A language unit containing basic variables management" entryPoints="" exactType="family.ProceduresMT" id="family.Procedures" uri="http://fr.inria.diverse.examples.logo.Procedures">
      <adapter class="family.procedures.adapters.requiredprimitives.ProceduresAdapter" modeltypeId="family.RequiredPrimitives"/>
      <adapter class="family.procedures.adapters.requiredbinaryexpressions.ProceduresAdapter" modeltypeId="family.RequiredBinaryExpressions"/>
      <adapter class="family.procedures.adapters.requiredvariables.ProceduresAdapter" modeltypeId="family.RequiredVariables"/>
      <adapter class="family.procedures.adapters.requiredprocedures.ProceduresAdapter" modeltypeId="family.RequiredProcedures"/>
      <adapter class="family.procedures.adapters.proceduresmt.ProceduresAdapter" modeltypeId="family.ProceduresMT"/>
    </language>
  </extension>
</plugin>
