<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fsmUml -->
      <package
            uri="http://puzzle.examples.fsm"
            class="fsm.FsmPackage"
            genModel="models/fsmUml.genmodel"/>
   </extension>

</plugin>
