<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated VM -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="vm.presentation.VmModelWizardID"
            name="%_UI_VmModelWizard_label"
            class="vm.presentation.VmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VmModelFile.gif">
         <description>%_UI_VmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated VM -->
      <editor
            id="vm.presentation.VmEditorID"
            name="%_UI_VmEditor_label"
            icon="icons/full/obj16/VmModelFile.gif"
            extensions="vm"
            class="vm.presentation.VmEditor"
            contributorClass="vm.presentation.VmActionBarContributor">
      </editor>
   </extension>

</plugin>
