<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="fr.inria.diverse.puzzle.metrics.contribution1">
         <menu
               label="Puzzle"
               path="additions"
               id="fr.inria.diverse.puzzle.metrics.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compute metrics"
               class="fr.inria.diverse.puzzle.metrics.actions.ComputeMetricsAction"
               menubarPath="fr.inria.diverse.puzzle.metrics.menu1/group1"
               enablesFor="multiple"
               id="fr.inria.diverse.puzzle.metrics.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
