<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated AndTriggerModule -->
      <package
            uri="AndTriggerModule"
            class="AndTriggerModule.AndTriggerModulePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated AndTriggerModuleReq -->
      <package
            uri="AndTriggerModuleReq"
            class="AndTriggerModuleReq.AndTriggerModuleReqPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated AndTriggerModuleProv -->
      <package
            uri="AndTriggerModuleProv"
            class="AndTriggerModuleProv.AndTriggerModuleProvPackage"/>
   </extension>

</plugin>
