<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ControlStructures -->
      <package
            uri="http://fr.inria.diverse.examples.logo.ControlStructures"
            class="ControlStructures.ControlStructuresPackage"
            genModel="models/ControlStructures.genmodel"/>
   </extension>

</plugin>
