<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VM -->
      <package
            uri="http://fr.inria.diverse.puzzle.vm.metamodel"
            class="vm.VmPackage"
            genModel="models/VM.genmodel"/>
   </extension>

</plugin>
